{{ define "content" }}

<link rel="stylesheet" href="/web/css/game.css">

<div class="container">
    <div class="sidebar">
        <div class="sidebar-container">
            <strong>Scoreboard</strong>
            <div class="scoreboard" hx-ext="sse" sse-connect="events?stream=scoreboard" sse-swap="message"></div>
        </div>
    </div>
    <div class="game">
        <img src="/web/images/loading.svg" alt="Loading" aria-hidden="true">
    </div>
    <div class="actions">
        <!--suppress XmlUnboundNsPrefix -->
        <form hx-post="answer" hx-swap="none" hx-on::after-request="this.reset()">
            <input type="text" name="answer" placeholder="Type your answer and press enter to submit">
        </form>
    </div>
</div>

{{ end }}
